
data/songs/song_lyrics.csv
data/social-media/Twitter_Data.csv
data/social-media/Reddit_Data.csv
data/movies/moviedataset.csv
data/blogs/blogtext.csv
data/articles/articles3.csv
data/articles/articles2.csv
data/articles/articles1.csv
data/archive (7).zip
data/archive (6).zip
data/archive (4).zip
data/archive (3).zip
data/archive (2).zip
data/archive (1).zip
data/abstracts/arxiv_data_210930-054931.csv
data/abstracts/arxiv_data.csv
