body.dark-mode {
    background-color: #333;
    color: #fff;
}


body.dark-mode input[type="text"],
body.dark-mode textarea,
body.dark-mode select,
body.dark-mode .navbar,
body.dark-mode .card{
  background-color: #333;
  color: #fff;
}
