<!doctype html>
<html lang="en">
  <head>
    <title>Text Summarization and Classification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/svg+xml">
  </head>

  <body>

    <!-- NavBar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img  src="{{ url_for('static', filename='img/icon.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span class="h3">Text analysis</span>
        </a>
      </div>
    </nav>

    <!-- Content Box -->
    <div class="container py-4 flex-grow-1">
  
      <!-- Input Group -->
      <div class="card mb-3 text-center">
        <h5 class="card-header">Text Input</h5>
        <div class="card-body">
          <form class="row g-3" action="/" method="post" enctype="multipart/form-data">

            <!-- File Upload -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="file" class="form-label">Choose a file to be uploaded:</label>
                <input class="form-control" type="file" id="file" name="file">
                <!-- <label for="file">Upload File:</label>
                <input type="file" class="form-control-file" id="file" name="file"> -->
              </div>
            </div>

            <!-- Voice Input -->
            <div class="col-12 col-md-6">
              <p> Voice Input goes here...</p>
            </div>
            
            <!-- Settings Selection -->
            <div class="col-12 col-lg-6 offset-lg-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="classification" id="classification" name="classification" value="classification">
                <label class="form-check-label" for="classification">Classification</label>
              </div>
              <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="summary" name="summary" value="summary">
                <label class="form-check-label" for="summary">Summary</label>
                <input type="range" class="form-range" id="compression-slider" min="0" max="80" step="1">
                <div id="compression-value" class="text-center mt-2">40%</div>
              </div>

              <button type="submit" class="btn btn-primary">Process Text</button>
              </div>
            </div>
            
          </form>

          <!-- Text area -->
          <div class="input-group mb-3">
            <textarea class="form-control" id="input-text" name="input-text" rows="6">{{ content }}</textarea>
          </div>
        </div>
      </div>

      <!-- Output Group -->
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- Summary Card -->
          <div class="card mb-3">
            <div class="card-header">
              <h4>Summary</h4>
            </div>
             <div class="card-body text-center">
              <textarea class="form-control mt-2" id="summary_output" placeholder="The summary will be displayed here..." readonly></textarea>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-4">
          <!-- Classification Card -->
          <div class="card mb-3">
            <div class="card-header">
              <h4>Classification</h4>
            </div>
            <div class="card-body text-center">
              <textarea class="form-control mt-2" id="classification_output" placeholder="The class will be displayed here..." readonly></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container">
        <span class="text-muted">&copy; 2023 Projektname</span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        var checkbox = document.getElementById('summary');
        var slider = document.getElementById('compression-slider');

        // Disable the slider by default
        slider.disabled = true;

        // Function to enable or disable slider based on checkbox status
        checkbox.addEventListener('change', function() {
          if(this.checked) {
            slider.disabled = false;
          } else {
            slider.disabled = true;
          }
        });
      });
    </script>

  </body>
</html>
